<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    
    <filter>
        <filter-name>db</filter-name>
        <filter-class>ee.ttu.idu0020.inimene.web.DBFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>db</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.txt</url-pattern>
    </servlet-mapping>
    
</web-app>
